<h3>School Class Form</h3>
<%= form_for(@school_class) do |f| %>
  <div class="field">
    <%= f.label :title, 'Title'%><br>
    <%= f.text_field :title %><br>
    <%= f.label :room_number, 'Room Number'%><br>
    <%= f.text_field :room_number %>
  </div>

  <div class= "actions">
    <%= f.submit %>
  </div>
<% end %> 
